<div class="container">
  <h1 class="mb-4">Shopping Cart</h1>
  <div *ngIf="cart.length === 0">Your cart is empty.</div>
  <div *ngIf="cart.length > 0" class="row">
      <div *ngFor="let product of cart; let i = index" class="col-md-4 mb-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">Price: ${{ product.price }}</p>
                  <p class="card-text">Category: {{ product.category }}</p>
                  <button class="btn btn-danger" (click)="removeFromCart(i); openSnackBar()">
                      <i class="bi bi-trash"></i>
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
